main {
    padding-top: 20px;
}
#global-header .navbar-brand {
    width: calc(250px - 1rem);
}
#global-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

#global-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

#global-nav a:hover {
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, .4);
}

#global-nav .form-group {
    margin: 1rem;
}